<!-- /app/templates/famillies/family.html -->
{% extends "layout.html" %}
{% block title %}{{ family.family_name }} :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<h3>Family ID {{family.family_id}}</h3>
<div class="row">
    <div class="col-md-8">
        <div class="card border-light mb-3">
            <h4 class="card-header">{{ family.family_name }}</h4>
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="card-text">{{ family.family_details }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="cart-text">{{ family.family_description }}</p>
                <a href="{{ url_for('famillies.update_family', family_id=family.family_id) }}" class="btn btn-primary">Edit</a>
            </div>
          </div>
    </div>
	<div class="col-md-4">
		<ul class="list-group">
            <li class="list-group-item active" aria-current="true">Related Plants</li>
                {% if plants %}
					{% for plant in plants %}
						<a class="list-group-item" href="{{ url_for('plants.view_plant', plant_id=plant.plant_id)}}">{{ plant.plant_details }}</a>
					{% endfor %}
				{% else %}
				<li class="list-group-item">None</li>
				{% endif %}
          </ul>
	</div>
</div>
{% endblock %}