<!-- app/templates/locations/edit_location.html -->
{% extends "layout.html" %}
{% block title %}Edit Location :: {{ config.SITE_NAME }} {% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<h1>Edit Location: </h1>
<form method="POST">
    {{ form.csrf_token }}
    <div class="row">
        <div class="form-group col-md-4 mb-3">
            {{ render_field(form.location_name, class_='form-control', placeholder='Location Name', autofocus='', tabindex='1') }}
        </div>

        <div class="form-group col-md-8 mb-3">
            {{ render_field(form.location_position, class_='form-control', placeholder='Location Position', tabindex='2') }}
        </div>

        
        <div class="col-md-4 mb-3">
            <input type="submit" value="UPDATE" class="btn btn-primary" tabindex="4">
        </div>
    </div>
</form>

<form method="post">
{{ remove_form.csrf_token }}
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Danger</div>
        <div class="card-body">
            <h5 class="card-title">Remove The Location</h5>
            <p class="card-text">{{ remove_form.remove(class="btn btn-warning") }}</p>
        </div>
    </div>
</form>


<button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#confirmation">REMOVE</button>

<div class="modal fade bg-warning" id="confirmation" tabindex="-1" aria-labelledby="delete_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% if plant_locations %}
                {% for location in plant_locations %}
                    {% if location %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_confirmation">The following will be deleted. Are you sure you want to continue remove?.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hovered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Plant</th>
                                        <th scope="col">Plant Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{ location.plant_id }}</th>
                                        <td>{{ location.plant_details }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="modal-header">
                    <h5 class="modal-title" id="delete_confirmation">Are you sure you want to remove?.</h5>
                    <button type="button"   class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ query.family_name }} | Will be remove
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-success" data-bs-target="#delete_confirmation_2" data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}