<!-- /app/templates/site.html -->
{% extends "layout.html" %}
{% block title %}{{ config.SITE_NAME }} {% endblock %}
{% block body %}
<h3>Welcome to Botanic Garden</h3>
<div class="row">
	<div class="col-md-8">
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title">{{family.family_name}}</h5>
				<p class="card-text">{{family.family_details}}</p>
				<p class="card-text">{{family.family_description}}</p>
		 	</div>
		</div>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title"><a href="{{url_for('plant_hierarchies.view', plant_hierarchy_id=hierarchy.plant_hierarchy_id)}}">{{hierarchy.plant_hierarchy_name}}</a></h5>
				<p class="card-text">{{hierarchy.plant_hierarchy_details}}</p>
				<ol class="list-group list-group-flush">
				{% for phs in parent_hierarchies %}
					<li class="list-group-item"><a href="{{url_for('plant_hierarchies.view', plant_hierarchy_id=phs.plant_hierarchy_id)}}">{{phs.plant_hierarchy_name}}</a></li>
				{% endfor %}
				</ol>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{plant.plant_details}}</h5>
				<ul class="list-group list-group-horizontal list-group-flush">
					<li class="list-group-item flex-fill">An item</li>
					<li class="list-group-item flex-fill">A second item</li>
					<li class="list-group-item flex-fill">A third item</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- List group -->
	<div class="col-md-4">
		<div class="list-group" id="myList" role="tablist">
			<p class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</p>
			<a class="list-group-item list-group-item-action" data-toggle="list" href="{{ url_for('famillies.famillies') }}"  role="tab">Famillies</a>
			<a class="list-group-item list-group-item-action" data-toggle="list" href="{{ url_for('plant_hierarchies.plant_hierarchies') }}" role="tab">Plant Hierarchies</a>
			<a class="list-group-item list-group-item-action" data-toggle="list" href="{{ url_for('plants.plants') }}" role="tab">Plants</a>
			<a class="list-group-item list-group-item-action" data-toggle="list" href="{{ url_for('locations.locations') }}" role="tab">Locations</a>
		</div>
	</div>
	<!-- List group end -->
</div>

{% endblock %}